@import "tailwindcss";

.bg-light {
    background-color: #262626;
}
.bg-dark {
    background-color: #000000;
}
.text-gray {
    color: #C0C0C0
}
.border-gray {
    border: 1px solid #c0c0c0;
}
.text-orange {
    color: #F35034;
}
.bg-orange {
    background-color: #F35034;
}
